aniso8601>=9.0.1
apispec>=5.1.1
certifi>=2021.10.8
charset-normalizer>=2.0.7
click>=8.0.3
colorama>=0.4.4
Flask>=2.0.2
flask-apispec>=0.11.0
Flask-RESTful>=0.3.9
idna>=3.3
itsdangerous>=2.0.1
Jinja2>=3.0.2
MarkupSafe>=2.0.1
marshmallow>=3.14.0
pytz>=2021.3
requests>=2.26.0
six>=1.16.0
urllib3>=1.26.7
webargs>=8.0.1
Werkzeug>=2.0.2
requests_toolbelt>=0.9.1
flask-cors>=3.0.10
